/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat; 
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import '_theme';
@import '_variables';

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

//Block Connectors
//endpoint
.block_endpoint circle {
  fill: var(--endpoint-color);
  stroke-width: 1px;
  stroke: var(--endpoint-outline);
}

//connector
.jsplumb_instance svg path {
  stroke: var(--connector-color);
  stroke-width: 3.5px;

}

.frame-connector {
  z-index: -1;
}
.jtk-overlay {
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 8px 8px 6px 8px;
  cursor: pointer;
  position:relative;
  display: none;
  z-index: 5;

  
}

.jtk-overlay svg {
  color: var(--convs-mgr-color-primary-pink)!important;
  font-size: 16px !important;
}

.jsplumb_instance svg path:hover {
  stroke: var(--convs-mgr-color-primary-purple);
}

.jtk-hover {
  cursor: pointer;
  z-index: 4;
}

.jtk-hover + .jtk-overlay{
  display: block;
}

// spinner
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
  }

.spinner {
	display: flex;
	position: absolute;
	right: 1;
  }
  
  .spinner::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 4px solid #f3f3f3;
	border-top: 4px solid var(--convs-mgr-color-primary-purple);
	animation: spin 1s linear infinite;
  }
  
