/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import '_theme';
@import '_variables';

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.fa-spin {
  color: var(--convs-mgr-color-primary-purple) !important;
  border: none;
}


.wrapper {
  padding: 1.875rem;
}
